<div class="container pt-5">
  <div class="row">
    <div class="col-md-5">
      <table class="table table-bordered border-primary">
        <tr>
          <% if @post.user.profile_image.attached? %>
            <%= image_tag @post.user.profile_image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        </tr>
        <tr>
          <th>
            <%= link_to my_page_path(@post.user_id) do %>
              <%= @post.user.nickname %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th><%= @post.title %></th>
        </tr>
        <tr>
          <th><%= @post.purpose %></th>
        </tr>
        <tr>
          <th><%= @post.body %></th>
        </tr>
        <tr>
          <th>
            <div id="star-rate<%= @post.id %>"></div>
            <script>
              $('#star-rate<%= @post.id %>').empty();
              $('#star-rate<%= @post.id %>').raty({
                size :36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @post.star %>
              })
            </script>
          </th>
        </tr>
        <tr>
          <th>
            <% @post.tags.each do |tag| %>
              <span><%= tag.name %></span>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <% if @post.user == current_user %>
              <%= link_to "削除", post_path, method: :delete, class: 'btn-sm btn-danger' %>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
    <div class="offset-3">
      <h3 style="color: #0066FF;">コメントする</h3>
      <div class="new-comment">
        <%= render 'public/comments/form', post: @post, comment: @comment %>
      </div>
        <div id="comments_area">
          <%= render 'public/comments/post_comments', post: @post %>
        </div>
    </div>
  </div>
</div>