<% content_for :css do %>
  <%= stylesheet_link_tag 'signup.css' %>
<% end %>
<div class="box">
  <div class="box-inner">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1>新規登録</h1>
    <div class="box-name">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="box-email">
      <%= f.label :email, "Eメール" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="box-gender">
      <%= f.label :gender, "性別" %><br />
      <%= f.select :gender, ['男', '女'], {include_blank: '選択ボックス'} %>
    </div>

    <div class="box-birthday">
      <%= f.label :birth_day, "生年月日" %><br />
      <%= f.date_select :birth_day, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year), default: Date.new(1989, 1, 1) %>
      <%= f.hidden_field :birth_day %>
    </div>

    <div class="box-password">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="box-password">
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="box-login">
      <%= f.submit "新規登録" %>
    </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> 既に登録されていますか？ <span>------------</span></p>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
</div>
<div class="push"
