<table class="table">
  <th><%= image_tag user.get_profile_image, size:'100x100' %></th>
  <tr>
    <th><%= user.nickname %></th>
  </tr>
  <tr>
    <th><%= user.gender %></th>
  </tr>
  <tr>
    <th><%= user.birth_day %></th>
  </tr>
</table>
<% if user.nickname != "guestuser" %>
<div class="row">
  <%= link_to user_edit_path, class: "btn btn-primary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
<% end %>