<table class="table table-bordered border-primary">
  <th>
    <% if user.profile_image.attached? %>
      <%= image_tag user.profile_image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "100x100" %>
    <% end %>
  </th>
  <tr>
    <th><%= user.nickname %></th>
  </tr>
  <tr>
    <th><%= user.gender %></th>
  </tr>
  <tr>
    <th><%= user.birth_day %></th>
  </tr>
</table>
