<div class="container mt-5 px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 border border-3 border-primary rounded">
      <h2>PROFILE</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class="offset-3">
     <h3>商品を探す</h3>
     <div class='content'>
       <div id="search-box">
         <%= form_tag(games_search_path, method: :get) do %>
           <%= text_field_tag :game, "",  id: "game_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%>
           <%= submit_tag "検索", class: 'btn btn-primary' %>
         <% end %>
       </div>
    </div>
    <h3 class="border-top">ブックマーク一覧</h3>
    <table class="table table-container" style="display: block; overflow-y: scroll; height: calc(100vh/2);">
　　<thead>
        <tr>
          <th style="position: sticky; top: 0; z-index: 1; background: gold;">投稿者名</th>
          <th style="position: sticky; top: 0; z-index: 1; background: gold;">商品名</th>
          <th style="position: sticky; top: 0; z-index: 1; background: gold;">評価</th>
          <th style="position: sticky; top: 0; z-index: 1; background: gold;">タグ</th>
        </tr>
  </thead>
  <tbody>
    <% @book_marks.each do |book_mark| %>
    <tr>
      <td><%= book_mark.post.user.nickname %></td>
      <td>
        <%= link_to post_path(book_mark.post) do %>
          <%= book_mark.post.title %>
        <% end %>
      </td>
      <td>
        <div id="star-rate<%= book_mark.post.id %>"></div>
            <script>
              $('#star-rate<%= book_mark.post.id %>').empty();
              $('#star-rate<%= book_mark.post.id %>').raty({
                size :36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= book_mark.post.star %>
              })
            </script>
      </td>
      <td>
        <% book_mark.post.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
    </table>
  </div>
  <div class="offset-10">
      <%= link_to new_post_path do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
  </div>
</div>
